body{
    box-sizing: border-box;
    background-color: #F8F8F8;
}


.bx-shadow{
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 5px 8px 0px rgba(0, 0, 0, 0.14),
        0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}


.root-layout {
    min-height: 100vh;
}

.root-layout main {
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}